@import "tailwindcss";
body {
  font-family: "SF Pro Text", Arial, sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}